#Project Information
site_name: HCL Domino REST API Documentation
site_url: https://opensource.hcltechsw.com/Domino-rest-api/
site_description: HCL Domino REST API, formerly Project KEEP, provides a secure REST API with access into HCL Domino servers and databases.
use_directory_urls: false
# Theme Configuration
theme:
  name: material
  logo: assets/images/HCL_KEEP_ICON.jpg
  language: en
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top
    - navigation.instant
    - search.highlight
    - search.share
    - search.suggest
  custom_dir: theme_overrides/
  icon:
    repo: fontawesome/brands/github
  font: false
  favicon: favicon.ico

# Markdown Extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
#      emoji_index: !!python/name:material.extensions.emoji.twemoji
#      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      base_path:
        - "docs/.snippets"
  - footnotes
  - toc:
      title: On this page

# Copyright
copyright: >-
  Copyright &copy; 2022-2025, HCL America, Inc. | <a href="https://www.hcl-software.com/legal/privacy" target="_blank">Privacy Statement</a> | <a href="https://www.hcl-software.com/legal/terms-use" target="_blank">Terms of Use</a> <br/>
  <a href="#__consent">Change cookie settings</a>

extra:
  productversion: 1.1.6
  flexnet_url: "https://hclsoftware.flexnetoperations.com/flexnet/operationsportal/entitledDownloadFile.action?downloadPkgId=HCL%20Domino%20REST%20API%20Early%20Access%20Release"
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/HCL-TECH-SOFTWARE/Domino-rest-api
  version:
    provider: mike
  analytics:
    provider: google
    property: UA-169645537-2
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
    actions:
      - accept
      - manage

# Repository
repo_url: https://github.com/HCL-TECH-SOFTWARE/Domino-rest-api
repo_name: HCL-TECH-SOFTWARE/Domino-rest-api
edit_uri: edit/main/docs

# Customization
extra_css:
  - assets/css/keep_style.css
  - assets/css/style.css

plugins:
  - search
  - awesome-pages
#  - section-index
  - tags
  - git-revision-date-localized:
      type: date
  - markdownextradata:
      data: docs/assets/variable
