pre {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

header {
    background-color: #000000;
  }
footer {
    background-color: #000000;
  }
  
.md-search__inner {
    background-color: #1d2123;
  }
nav.md-tabs {
    background-color: #000000;
  }
.md-header__title {
    background-color: #000000;
  }
.md-header {
    background-color: #000000;
  }


@font-face {
  font-family: 'HCLTech Roobert';
  src: url(HCLTechRoobert-Regular.otf);
}

tr.lostLinkItem:nth-child(even) {
  background-color: #eeeeee;
}
