pre {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

header {
  background-image: linear-gradient(to right, #5f1ebe, #3c91ff);
}

footer {
  background-image: linear-gradient(to right, #5f1ebe, #3c91ff);
}

nav.md-tabs {
  background-image: linear-gradient(to right, #5f1ebe, #3c91ff);
}
@font-face {
  font-family: 'HCLTech Roobert';
  src: url(HCLTechRoobert-Regular.otf);
}

tr.lostLinkItem:nth-child(even) {
  background-color: #eeeeee;
}
